# Ignore some static files and directories.
/.project
/vendor/
/.gitattributes
/composer.json
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/
 
# Ignore fix module files and directories.
/modules/*
!/modules/phongtro
!/modules/phongtro/*
/themes/*
!/themes/admin_default/css/phongtro.css
!/themes/admin_default/js/phongtro.js
!/themes/admin_default/images/phongtro
!/themes/admin_default/images/phongtro/*
!/themes/admin_default/modules/phongtro
!/themes/admin_default/modules/phongtro/*
!/themes/default/css/phongtro.css
!/themes/default/js/phongtro.js
!/themes/default/images/phongtro
!/themes/default/images/phongtro/*
!/themes/default/modules/phongtro
!/themes/default/modules/phongtro/*

!/modules/location
!/modules/location/*
!/themes/admin_default/css/location.css
!/themes/admin_default/js/location.js
!/themes/admin_default/images/location
!/themes/admin_default/images/location/*
!/themes/admin_default/modules/location
!/themes/admin_default/modules/location/*
!/themes/default/css/location.css
!/themes/default/js/location.js
!/themes/default/images/location
!/themes/default/images/location/*
!/themes/default/modules/location
!/themes/default/modules/location/*

/.settings/
/.buildpath
/error.php
